{% assign selected_product = closest.product %}
{% assign selected_variant_media = selected_product.selected_or_first_available_variant.featured_media %}

<div class="swiper mySwiper single-product-slider">
  <div class="swiper-wrapper">
    {% for media in selected_product.media %}
      <div class="swiper-slide">
        <div class="product-single-viewer">
          {% if media.media_type == "image" %}
            <img
              src="{{ media | image_url: width: 2000 }}"
              alt="{{ media.alt | escape }}"
              data-image-id="{{ media.id }}"
              width="{{ media.width }}"
              height="{{ media.height }}"
              class="product-media__image"
            >
          {% elsif media.media_type == "video" %}
            {{ 
              media | video_tag: 
              image_size: '2500x',
              autoplay: true, 
              loop: true, 
              muted: true, 
              controls: false,
              class: 'product-media__video'
            }}
          {% endif %}
          {% if block.settings.show_media_badge and forloop.first %}
            {% if block.settings.badge_svg != blank %}
              <img class="product-media__badge" src="{{ block.settings.badge_svg | image_url: width: 110 }}" width="auto" height="auto" alt="Media Badge" />
            {% else %}
              <p class="product-media__badge media__badge-content">
               {% if localization.language.iso_code == 'pt-PT' or localization.language.iso_code == 'pt-BR' %}
  Não satisfeito? <br> Garantia de <br>reembolso de 100%
{% else %}
  Not Satisfied? <br> 100% Money-<br>back-guarantee
{% endif %}
              </p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if selected_product.media.size > 1 %}
  <div class="swiper-button-next sng-slider-btn sng-slider-next">
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="4.83594" y="1" width="9.4562" height="1.18202" transform="rotate(45 4.83594 1)" fill="#231C19"/>
    <rect x="4" y="13.5371" width="9.4562" height="1.18202" transform="rotate(-45 4 13.5371)" fill="#231C19"/>
    </svg>
  </div>
  <div class="swiper-button-prev sng-slider-btn sng-slider-prev">
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <rect x="10.6865" y="14.3729" width="9.45619" height="1.18202" transform="rotate(-135 10.6865 14.3729)" fill="#231C19"/>
      <rect x="11.5225" y="1.83582" width="9.45619" height="1.18202" transform="rotate(135 11.5225 1.83582)" fill="#231C19"/>
    </g>
    </svg>
  </div>
  <div class="swiper-scrollbar__wrapper">
    <div class="swiper-scrollbar sng-slider-scrollbar"></div>
  </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "New Media Gallery",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_media_badge",
      "label": "Show Media Badge",
      "default": true
    },
    {
      "type": "textarea",
      "id": "badge_content",
      "label": "Badge content",
      "default": "No match? <br> 100% Money-<br>back-guarantee"
    },
    {
      "type": "image_picker",
      "id": "badge_svg",
      "label": "Badge SVG"
    }
  ],
  "presets": [
    {
      "name": "New Media Gallery"
    }
  ]
}
{% endschema %}