<custom-quickview-product class="quickview-product">
  {% liquid
    assign product_resource = closest.product
    assign bundle_products_list = product_resource.metafields.custom.bundle_products_list
    assign product_qty = product_resource.metafields.custom.often_bought_quantity | default: 1
    assign current_variant = product_resource.selected_or_first_available_variant
  %}
  <div class="quickview-product-content">
    <div class="sd2-top-cont">
      <h2 class="secondary-heading pb-3">perfect your finish</h2>
      <p>Blend away edges so your Concealing Cream+ looks effortless and undetectable.</p>
    </div>
    
    {% unless bundle_products_list %}
      <div class="quickview-product__grid">
        <div class="quickview-product__media">
          <a href="{{ product_resource.url }}" class="absolute-title">
          </a>
          <img 
            id="quick-img" 
            src="{{ product_resource.featured_image | image_url: width: 340 }}" 
            alt="{{ product_resource.title | escape }}" loading="lazy"
            width="340" height="340"
            style="object-fit: cover; aspect-ratio: 1/1;"
          >
        </div>
        <div class="quickview-product__details">
          <h4 id="quick-title" class="font-base">
              <a href="{{ product_resource.url }}" class="font-base">
                {{ product_resource.title }}
              </a>
            </h4>
          <div class="d-flex align-items-center">
            <p class="product-price" id="quick-price">{{ current_variant.price | money_without_trailing_zeros }}</p>
            {% if current_variant.compare_at_price > current_variant.price %}
              <p class="regular-price" id="quick-compare-price">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</p>
            {% endif %}
          </div>
          {% unless product_resource.has_only_default_variant %}
            <div class="quickview-product__variants">
              {% render 'custom-quickview-variant-picker', product_resource: product_resource %}
            </div>
          {% endunless %}
        </div>
      </div>
    {% else %}
      {% unless product_resource.has_only_default_variant %}
        <div class="quickview-product__variants">
          {% render 'custom-quickview-variant-picker', product_resource: product_resource, data_att: 'quickview-variant-picker' %}
        </div>
        <style>
          .quickview-product-content:has([component-variant-picker]) [quickview-variant-picker] {
            display: none !important;
          }
        </style>
      {% endunless %}
      {% render '_bundle-products', product_resource: product_resource, data_att: 'component-variant-picker', section: section %}
    {% endunless %}
  </div>
  <div class="quickview-cta">
    <div class="sd-checkout-button">
      <button 
        class="quickview-product__button" 
        data-add-to-cart 
        data-variant-id="{{ current_variant.id }}"
        data-quantity="{{ product_qty }}"
        >
        Add to order - {{ current_variant.price | money_without_trailing_zeros }}
      </button>
      {% unless bundle_products_list %}
        <button class="skip-card mb-0" data-quickview-close>Skip & view cart</button>
      {% endunless %}
    </div>
  </div>
</custom-quickview-product>


{% schema %}
{
  "name": "Custom Quick View",
  "settings": [
    {
      "type": "header",
      "content": "Quick view settings"
    }
  ],
  "presets": []
}
{% endschema %}



{% comment %} <custom-quickview-product class="quickview-product">
  <div class="quickview-product-content">
    <div class="sd2-top-cont">
      <h2 class="secondary-heading pb-3">perfect your finish</h2>
      <p>Blend away edges so your Concealing Cream+ looks effortless and undetectable.</p>
    </div>
    {% assign current_variant = closest.product.selected_or_first_available_variant %}
    <div class="quickview-product__grid">
      <div class="quickview-product__media">
        <a href="{{ closest.product.url }}" class="absolute-title">
        </a>
        <img 
          id="quick-img" 
          src="{{ closest.product.featured_image | image_url: width: 340 }}" 
          alt="{{ closest.product.title | escape }}" loading="lazy"
          width="340" height="340"
          style="object-fit: cover; aspect-ratio: 1/1;"
        >
      </div>
      <div class="quickview-product__details">
        <h4 id="quick-title" class="font-base">
            <a href="{{ closest.product.url }}" class="font-base">
              {{ closest.product.title }}
            </a>
          </h4>
        <div class="d-flex align-items-center">
          <p class="product-price" id="quick-price">{{ current_variant.price | money_without_trailing_zeros }}</p>
          {% if current_variant.compare_at_price > current_variant.price %}
            <p class="regular-price" id="quick-compare-price">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</p>
          {% endif %}
        </div>
        <div class="quickview-product__variants">
          {% render 'quickview-variant-picker', product_resource: closest.product %}
        </div>
      </div>
    </div>

    {% #  Second Product - MINI TANDROPS+ %}
    <div class="quickview-product__grid mt-4">
      <div class="quickview-product__media">
        <img 
          src="https://cdn.shopify.com/s/files/1/0790/5974/7140/files/ChatGPT_Image_29_okt_2025_11_45_47.jpg?v=1761734980" 
          alt="MINI TANDROPS+" 
          loading="lazy"
          width="340" 
          height="340"
          style="object-fit: cover; aspect-ratio: 1/1;"
        >
      </div>
      <div class="quickview-product__details">
        <h4 class="font-base">MINI TANDROPS+</h4>
        <div class="d-flex align-items-center">
          <p class="product-price">
            {% if localization.country.iso_code == 'US' %}
              $0
            {% elsif localization.country.iso_code == 'GB' %}
              £0
            {% elsif localization.country.iso_code == 'CA' %}
              $0
            {% elsif localization.country.iso_code == 'AU' %}
              $0
            {% elsif localization.country.iso_code == 'NZ' %}
              $0
            {% elsif localization.country.iso_code == 'DK' %}
              0 kr.
            {% elsif localization.country.iso_code == 'SE' %}
              0 kr
            {% else %}
              €0
            {% endif %}
          </p>
          <p class="regular-price">
            {% if localization.country.iso_code == 'US' %}
              $19
            {% elsif localization.country.iso_code == 'GB' %}
              £14
            {% elsif localization.country.iso_code == 'CA' %}
              $34
            {% elsif localization.country.iso_code == 'AU' %}
              $34
            {% elsif localization.country.iso_code == 'NZ' %}
              $34
            {% elsif localization.country.iso_code == 'DK' %}
              120
            {% elsif localization.country.iso_code == 'SE' %}
              220
            {% else %}
              €19
            {% endif %}
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="quickview-cta">
    <div class="sd-checkout-button">
      <button class="quickview-product__button" data-add-to-cart data-variant-id="{{ current_variant.id }}">Add to order - {{ current_variant.price | money_without_trailing_zeros }}</button>
      <button class="skip-card mb-0" data-quickview-close>Skip & view cart</button>
    </div>
  </div>
</custom-quickview-product> 
{% endcomment %}
