<style>

</style>

<div class="product-feature-wrap space-block-64">
  <div class="container-max">
    <div class="product-feature__grid">
      {% for block in section.blocks %}
        <div class="product-feature-single" {{ block.shopify_attributes }}>
          {% if block.settings.icon_svg != blank %}
            <div class="product-feature__media">
              <img class="product-feature_icon" src="{{ block.settings.icon_svg | image_url: width: 100 }}" alt="{{ block.settings.icon_svg_alt }}" width="auto" height="auto">
            </div>
          {% endif %}
          <h4 class="product-feature__title capitalize">{{ block.settings.title }}</h4>
          <p class="product-feature__text">{{ block.settings.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Feature Area",
  "tag": "section",
  "class": "product-Pfeature space-block-64",
  "settings": [

  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_svg",
          "label": "Icon SVG"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Feature Title",
          "default": "Recommended by dermatologist"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Feature Description",
          "default": "Our products are of 100% natural ingredients that support your skin over the long run."
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Product Feature Area",
      "category": "Custom",
      "blocks": [
        {
          "type": "feature"
        },
        {
          "type": "feature"
        },
        {
          "type": "feature"
        }
      ]
    }
  ]
}
{% endschema %}
