<style>
  #section-{{ section.id }} {
    padding-top: 0px;
  }
  #section-{{ section.id }} .single-row {
    background-color: {{ section.settings.bg_color }};
  }
  
  @media screen and (max-width: 1023px) {
    #section-{{ section.id }} {
      background-color: {{ section.settings.mobile_bg_color }};
    }
    #section-{{ section.id }} .single-row {
      padding-top: 64px;
      background-color: transparent;
    }
  }
</style>


<div class="before-after-wrap section-spacer" id="section-{{ section.id }}">
  <div class="single-row single-row-reverse">
    <div class="row g-0 m-0 align-items-center gap-x-40">
      <div class="col-lg-6 text-column">
        <div class="large-space-left">
          <div class="htu-right-content">
            <div class="htu-right__content-top">
              <p class="font-small uppercase">{{ section.settings.before_after_label }}</p>
              <h2 class="secondary-heading">{{ section.settings.before_after_heading }}</h2>
            </div>
            <ul class="htu-stat-list">
              {% for block in section.blocks %}
                <li class="htu-stat-item" {{ block.shopify_attributes }}>
                  {% if block.settings.stat_heading != blank %}
                    <h4 class="font-base">{{ block.settings.stat_heading }}</h4>
                  {% endif %}
                  <p>{{ block.settings.stat_description }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 image-column">
        <div class="htu-left-video">
          <div class="video-banner">
            <div class="row g-0 m-0">
              <div class="col-12 large-none">
                <div class="htu-right-content-mobile">
                  <h2 class="secondary-heading">{{ section.settings.before_after_heading }}</h2>
                </div>
              </div>
              <div class="col-6">
                <div class="before-effect effect">
                  {% if section.settings.before_image != blank %}
                    <img src="{{ section.settings.before_image | image_url: width: 600 }}" alt="" width="auto" height="auto">
                  {% else %}
                    <placeholder-image data-block-id="{{ section.id }}-1" data-type="general"></placeholder-image>
                  {% endif %}
                  <span>{{ section.settings.before_label }}</span>
                </div>	
              </div>
              <div class="col-6">
                <div class="after-effect effect">
                  {% if section.settings.after_image != blank %}
                    <img src="{{ section.settings.after_image | image_url: width: 600 }}" alt="" width="auto" height="auto">
                  {% else %}
                    <placeholder-image data-block-id="{{ section.id }}-2" data-type="general"></placeholder-image>
                  {% endif %}
                  <span>{{ section.settings.after_label }}</span>
                </div>	
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Before After Result",
  "tag": "section",
  "class": "before-after-result-section",
  "settings": [
    {
      "type": "header",
      "content": "Before & After"
    },
    {
      "type": "text",
      "id": "before_after_label",
      "label": "Before & After Label",
      "default": "before & after"
    },
    {
      "type": "text",
      "id": "before_after_heading",
      "label": "Before & After Heading",
      "default": "real results"
    },
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "Before Image"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "After Image"
    },
    {
      "type": "text",
      "id": "before_label",
      "label": "Before Label",
      "default": "Before"
    },
    {
      "type": "text",
      "id": "after_label",
      "label": "After Label",
      "default": "After"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fbf9f5"
    },
    {
      "type": "color",
      "id": "mobile_bg_color",
      "label": "Mobile Bg color",
      "default": "#fbf9f5"
    }
  ],
  "blocks": [
    {
      "type": "stat",
      "name": "Result Stat",
      "settings": [
        {
          "type": "text",
          "id": "stat_heading",
          "label": "Stat Heading (optional)",
          "default": "100% agreed"
        },
        {
          "type": "textarea",
          "id": "stat_description",
          "label": "Stat Description",
          "default": "That the formula is invisible for others"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Before After Result",
      "category": "Custom",
      "blocks": [
        {
          "type": "stat"
        },
        {
          "type": "stat"
        },
        {
          "type": "stat"
        }
      ]
    }
  ]
}
{% endschema %}
