<style>
  #product-recommendation{{ section.id }} .product-img img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
</style>

<div class="favourite-formulation-wp product-PPslider" id="product-recommendation{{ section.id }}">
  <div class="ff-product-slider-wrap section-spacer">
    <div class="container-max">
      <h2 class="secondary-heading">{{ section.settings.section_heading }}</h2>
    </div>
    <div class="large-space-left">
      <div class="swiper mySwiper pp-product-slider product-grid-slider">
        <div class="swiper-wrapper">
          {% if section.settings.collection != blank and section.settings.collection.products_count > 0 %}
            {% assign shown = 0 %}
            {% for rec_product in section.settings.collection.products %}
              {% if template.name == 'product' and rec_product.handle == product.handle %}
                {% continue %}
              {% endif %}
              {% if shown >= section.settings.product_limit %}
                {% break %}
              {% endif %}
              {% assign shown = shown | plus: 1 %}
  
              <div class="swiper-slide">
                <div class="single-product-wrap">
                  <a href="{{ rec_product.url }}" class="d-block w-100">
                    <div class="single-product-card">
                      <div class="product-img-wrap">
                        {% if rec_product.metafields.custom.badge_text.value.badge_text.value != blank %}
                          <div class="product-cetagory">
                            <span class="product-badge-active{% unless rec_product.metafields.custom.badge_text.value.enable_box.value %} bg-transparent{% endunless %}">{{ rec_product.metafields.custom.badge_text.value.badge_text.value }}</span>
                          </div>
                        {% endif %}
                        <div class="product-img">
                          {% if rec_product.featured_image %}
                            {% assign preview_image = rec_product.metafields.custom.preview_image | default: rec_product.featured_image %}
                            <img src="{{ preview_image | image_url: width: 600 }}" alt="{{ rec_product.title | escape }}" width="auto" height="auto">
                          {% endif %}
                        </div>
                      </div>
                      <div class="product-content">
                        <h4 class="font-base">{{ rec_product.title }}</h4>
                        <p class="font-small">{{ rec_product.metafields.custom.short_description }}</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar__wrapper container-max inner-spacer pb-0">
      <div class="swiper-scrollbar pp-product-scrollbar"></div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "New Recommended Products",
  "tag": "section",
  "class": "product-recommendation-section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "you may also like"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection to pull products from"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Number of products to show",
      "min": 1,
      "max": 24,
      "step": 1,
      "default": 8
    }
  ],
  "presets": [
    {
      "name": "New Recommended Products",
      "category": "Custom"
    }
  ]
}
{% endschema %}
