<div class="product-faq-wrap space-block-64" id="{{ section.id }}">
  <div class="container-max">
    <div class="row gap-x-40">
      <div class="col-lg-6">
        <div class="product-faq-left">
          <p class="uppercase font-small">{{ section.settings.left_label }}</p>
          <h2 class="secondary-heading pt-3">{{ section.settings.left_heading }}</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-faq-right">
          <div class="product-main-faq">
            {% for block in section.blocks %}
              <div class="accordion" {{ block.shopify_attributes }}>
                <div class="accordion__intro">
                  <h4 class="font-base">{{ block.settings.question }}</h4>
                  <span class="acc_arrow">
                    <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 0.500001L11.1962 5.75L0.803846 5.75L6 0.500001Z" fill="#231C19"/>
                    </svg>
                  </span>
                </div>
                <div class="accordion__content">
                  {% if block.settings.answer != blank %}
                    {{ block.settings.answer }}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>				
  </div>
</div>



{% schema %}
{
  "name": "Product FAQ",
  "tag": "section",
  "class": "product-faq-section",
  "settings": [
    {
      "type": "text",
      "id": "left_label",
      "label": "Left small label",
      "default": "you’ve got question"
    },
    {
      "type": "text",
      "id": "left_heading",
      "label": "Left heading",
      "default": "we’ve got answers"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "How do I know if this is for me?"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Been using Alpha Skin for a few weeks now and my skin has never looked better. Super easy to apply and looks completely natural.</p>"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Product FAQ",
      "category": "Custom",
      "blocks": [
        { "type": "faq" },
        { "type": "faq" },
        { "type": "faq" },
        { "type": "faq" }
      ]
    }
  ]
}
{% endschema %}

